<%= simple_form_for [:administration, @category] do |f| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
    </div>
  <% end %>
  <%= f.input :name, wrapper_html: { class: 'field' } %>
  <%= f.input :url_segment, wrapper_html: { class: 'field' } %>
  <%= f.input :parent_category_id, as: :integer, wrapper_html: { class: 'field' } %>
  <%= f.input :description, as: :text, wrapper_html: { class: 'field' } %>
  <%= f.input :meta_keywords, wrapper_html: { class: 'field' } %>
  <%= f.input :meta_description, wrapper_html: { class: 'field' } %>
  <%= f.button :submit %>
<% end %>
